:root {
    --md: rgb(160, 13, 13, 0.9);
    --blood: #831a1a;
    --hover-blood: red;
    --shadow: 17px 18px 33px -3px rgba(0, 0, 0, 1);
}

body {
    margin: 10px;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    background-color: #eee;
}

* {
    box-sizing: border-box;
}

h6 {
    color: white;
}

.register {
    cursor: pointer;
    font-size: 15px;
    padding: 5px;
    color: red;
}

.reserveForm {
    margin: 0 auto;
    display: inline-block;
    background-color: var(--blood);
}

.registerForm {
    margin: 0 auto;
    width: 90%;
    margin-top: 100px;
    margin-bottom: 100px;
    justify-content: center;
    background-color: var(--blood);
    z-index: 10;
    opacity: 1;
    padding: 15px;
    border-radius: 10px;
}

form label {
    color: white;
}

.btn-primary {
    margin-left: 15px;
    border: none;
    color: black;
    font-weight: bold;
    background-color: var(--hover-blood);
}

.btn-primary:hover,
a:hover {
    background-color: var(--md);
}

.form-control {
    border-radius: 10px;
}
input {
    outline: none;
}
input:focus {
    outline: none;
}

/* Progress bar */
.hidden{
    display: none;
}
/* .container1{
    padding-top: 10px;
    max-width: 400px;
    margin: 20px auto 0 auto
} */
.container{
    max-width: 500px;
    padding-top: 85px;
}
#main button{
    padding: 5px 10px;
    margin-left: 40px;
    transition: 500ms backgroud-color;
    color: white;
    width: 25%;
}
#main button:disabled:hover{
    opacity: 0.6;
    cursor: not-allowed;
}

#stepProgress{
    display: flex;
    width: 300px;
    margin: 0 auto 40px auto;
    justify-content: space-between;
    align-items: flex-end;
    border-radius: 100%;
}

.step{
    text-align: center;
}

.step-text{
    margin-bottom: 10px;
    color: var(--formColor);
}

.bullet{
    height: 29px;
    width: 37px;
    border-radius: 100%;
    padding: 4.3px;
    border: 1px solid var(--formColor);
    color: var(--formColor);
    display: inline-block;
    position: relative;
    transition: background-color 2000ms;
    line-height: 20px;
}

.bullet.completed{
    color: white;
    background-color: var(--formColor);
}

.bullet.completed::after{
    content: '';
    position: absolute;
    height: 2.2px;
    transition: 2000ms;
    top: 12px;
    left: 30px;
    width: 54px;
    background-color: var(--formColor);
}
/* Progress bar ends */
/* Show form based on progress bar */

#step1, #step2, #step3, #step4{
    display: none;
}

/* Show form ends */


/* new one */
