:root {
    --menu-background: rgba(156, 20, 20, 0.9);
    --blood: #8d0707;
    --bellWhite: white;
    --hover-blood: red;
    --shadow: 17px 18px 33px -3px rgba(0, 0, 0, 0.3);
    --ease-out: all 0.9s ease-out;
}

* {
    box-sizing: bor;
    font-family: 'Roboto Mono', monospace;
}

body {
    margin: 0;
    padding: 0;
    background-color: #eee;
}

.fa-bell {
    font-size: 18px;
    padding: 20px 28px 0 1rem;
    color: var(--bellWhite);
    float: left;
    cursor: pointer;
    transition: transform 2s;
}

.fa-bell:hover {
    transform: scale(1.4);
    transition: 1.5s;
    transform: rotate(360deg);
}

td .contact {
    outline: none;
    color: black;
    font-size: 17px;
    font-weight: 500;
    cursor: pointer;
    background: none;
    border: 1px solid black;
    width: 100px;
    height: 40px;
    opacity: 0;
    pointer-events: none;
    animation: tableContact 2.8s linear 3.8s forwards;
}


/* Table open modal */

@keyframes tableContact {
    from {
        opacity: 0;
        pointer-events: none;
    }
    to {
        opacity: 1;
        pointer-events: all;
    }
}

.contact:hover {
    transform: scale(1.1);
    transition-timing-function: ease-in-out;
    transition: 2s;
}


/* Menu Navigation */

.navbar {
    margin-bottom: 30px;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    background-color: var(--menu-background);
}

.menu-branding {
    float: left;
}

.banner-image {
    display: none;
}

.banner-image1 {
    display: inline-block;
    width: 20%;
    height: 20%;
    margin: 10px;
}

.navbar-links ul {
    margin: 0;
    padding: 0;
    display: flex;
}

.navbar-links li {
    list-style: none;
}

.navbar-links li a,
.navbar-links li i {
    text-decoration: none;
    display: block;
    text-transform: uppercase;
    padding: 1rem;
    color: white;
}

.navbar-links li:hover {
    background-color: black;
    margin: 0 2px 0 2px;
}

.navbar-links li.current {
    background-color: black;
}

@media(max-width: 720px) {
    .banner-image1 {
        display: flex;
        width: 100px;
        padding: 15px 10px 0 10px;
        margin: auto;
        padding-bottom: 10px;
    }
    .menu-btn {
        display: block;
        position: absolute;
        z-index: 3;
        right: 35px;
        top: 20px;
        cursor: pointer;
        transition: all 1s ease-out;
    }
    .btn-line {
        width: 28px;
        height: 3px;
        margin: 0 0 5px 0;
        background: red;
        transition: all 0.2s ease-out;
    }
    /* Rotate to X */
    .close .btn-line:nth-child(1) {
        transform: rotate(45deg) translate(5px, 5px)
    }
    .close .btn-line:nth-child(2) {
        opacity: 0;
    }
    .close .btn-line:nth-child(3) {
        transform: rotate(-45deg) translate(6px, -7px)
    }
    /* After click button change direction of content */
    .navbar-links {
        display: none;
        width: 100%;
    }
    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }
    .navbar-links ul {
        width: 100%;
        flex-direction: column;
    }
    .navbar-links li,
    .fa-bell {
        text-align: center;
    }
    .navbar-links li a,
    .fa-bell {
        padding: .5rem 1rem;
    }
    .navbar-links.active {
        display: flex;
    }
}

@media(max-width: 686px) {
    .banner-image1 {
        display: block;
        float: left;
        width: 100px;
        padding: 15px 10px 0 10px;
        margin: auto;
        padding-bottom: 10px;
    }
}

@media(max-width: 480px) {
    .banner-image1 {
        display: flex;
        width: 100px;
        padding: 15px 10px 0 10px;
        margin: auto;
        padding-bottom: 10px;
    }
    .menu-btn {
        display: block;
        position: absolute;
        z-index: 3;
        right: 35px;
        top: 20px;
        cursor: pointer;
        transition: all 1s ease-out;
    }
    .btn-line {
        width: 28px;
        height: 3px;
        margin: 0 0 5px 0;
        background: red;
        transition: all 0.2s ease-out;
    }
    /* Rotate to X */
    .close .btn-line:nth-child(1) {
        transform: rotate(45deg) translate(5px, 5px)
    }
    .close .btn-line:nth-child(2) {
        opacity: 0;
    }
    .close .btn-line:nth-child(3) {
        transform: rotate(-45deg) translate(6px, -7px)
    }
    /* After click button change direction of content */
    .navbar-links {
        display: none;
        width: 100%;
    }
    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }
    .navbar-links ul {
        width: 100%;
        flex-direction: column;
    }
    .navbar-links li,
    .fa-bell {
        text-align: center;
    }
    .navbar-links li a,
    .fa-bell {
        padding: .5rem 1rem;
    }
    .navbar-links.active {
        display: flex;
    }
}