.table {
    box-shadow: var(--shadow);
    border-radius: 10px;
    border-collapse: collapse;
    width: 100%;
    float: left;
    overflow: hidden;
    background-color: #ffffff;
    position: relative;
}

.table th,
.table td {
    border: 1px solid #e3e3e3;
    text-align: center;
}

.table th {
    color: rgb(0, 0, 0);
    background-color:  var(--table-color);
    height: 5px;
    margin: 10px;
}


table tr:nth-child(even) {
    background-color: #f3f3f3f3;
}

table tr.active-row {
    font-weight: bold;
    background-color: #c02222;
}

table tr:hover {
    border: 1px solid;
    padding: 10px;
    box-shadow: 5px 5px 5px rgb(230, 225, 225);
    transform: scale(1.05);
}