/* Spinner 3 */
.spinner3:before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  left: 50%;
  height: 100px;
  width: 100px;
  margin-top: -30px;
  margin-left: -30px;
  border-radius: 50%;
  border-top: 2px solid rgb(235, 11, 11);
  border-right: 2px solid transparent;
  animation: spinner 0.4s linear infinite;
}

.spinner2:before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  left: 50%;
  height: 100px;
  width: 100px;
  margin-top: -30px;
  margin-left: -30px;
  border-radius: 50%;
  border: 10px solid transparent;
  border-top-color: rgb(235, 11, 11);
  border-bottom-color: rgb(172, 13, 13);
  border-left-color: rgb(231, 77, 77);
  border-right-color: rgb(190, 66, 66);
  animation: spinner 0.7s ease-in-out infinite;
}

.backPop {
  position: fixed;
  z-index: 5;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  background: rgba(19, 18, 18, 0.4);
}


@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}


/* Alert button */
#alertContainer {
  background-color: red;
  width: 20%;
  margin: 20px auto;
}

.alert-success {
  background-color: rgb(37, 250, 29);
  border-radius: 9px;
  padding: 10px;
  width: 20%;
  margin: 20px auto;
  margin-bottom: 1px;
}

.alert-warning {
  background-color: rgb(247, 144, 27);
  border-radius: 9px;
  padding: 5px;
  text-align: left;
  width: 20%;
  margin: 20px auto;
  margin-bottom: 1px;
}

.contactDetails {
  display: none;
}

/* MAin */
.menu-btn {
  position: fixed;
  z-index: 3;
  right: 35px;
  top: 20px;
  cursor: pointer;
  transition: all 1s ease-out;
}

.menu-btn .btn-line {
  width: 28px;
  height: 3px;
  margin: 0 0 5px 0;
  background: white;
  transition: all 1s ease-out;
}

.menu-btn.close {
  transform: rotate(180deg);
}

.menu-btn.close .btn-line:nth-child(1) {
  transform: rotate(45deg) translate(5px, 5px);
}

.menu-btn.close .btn-line:nth-child(2) {
  opacity: 0;
}

.menu-btn.close .btn-line:nth-child(3) {
  transform: rotate(-45deg) translate(7px, -6.5px);
}

.menu {
  position: fixed;
  top: 0;
  width: 100%;
  opacity: 0.9;
  visibility: hidden;
}

.menu.show {
  visibility: visible;
  list-style: none;
}

.menu-nav {
  display: flex;
  flex-flow: column wrap;
  padding: 15px;
  margin: 0;
  float: left;
  width: 20%;
  height: 100vh;
  overflow: hidden;
  list-style: none;
  background: rgba(45, 45, 45, 0.266667);
  transform: translate3d(0, -100%, 0);
  transition: all 1s ease-out;
}

.menu-nav.show {
  transform: translate3d(0, 0, 0);
}

.menu .nav-item {
  transform: translate3d(600px, 0, 0);
  transition: all 1s ease-out;
}

.menu .nav-item.show {
  transform: translate3d(0, 0, 0);
}

.menu .nav-item.current>a {
  color: yellow;
}

.menu .nav-link {
  display: inline-block;
  position: relative;
  font-size: 15px;
  padding-top: 17px;
  text-align: center;
  text-transform: uppercase;
  font-weight: 420;
}

.menu .nav-link:hover {
  color: yellow;
}

.nav-item:nth-child(1) {
  transition-delay: 0.3s;
}

.nav-item:nth-child(2) {
  transition-delay: 0.6s;
}

.nav-item:nth-child(3) {
  transition-delay: 0.9s;
}

.nav-item:nth-child(4) {
  transition-delay: 1.2s;
}

#about {
  align-items: center;
  justify-content: center;
  margin-left: 18vh;
  margin-right: 18vh;
  margin-top: 15vh;
  min-height: calc(100vh - 70px);
}

#footer {
  background: linear-gradient(#050505, rgba(14, 1, 1, 0.933), rgba(0, 0, 0, 0.904));
  text-align: center;
  color: white;
  padding: 15px;
}

th {
  background-color: #c02222;
  font-family: 'Ubuntu', sans-serif;
  height: 5px;
  margin: 10px;
}

tr {
  /* text-align: center; */
  font-size: large;
  font-weight: bold;
}

.userTable {
  display: none;
}

table tr:nth-child(even) {
  background-color: #ece2e2;
}

tr {
  font-family: 'Ubuntu', sans-serif;
  text-align: justify;
  padding: 4px;
}

tr #tableContact:hover {
  background-color: red;
}

* {
  box-sizing: border-box;
}

main {
  min-height: calc(100vh-60px);
}

body {
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body.body-image {
  background: linear-gradient(#348383, #c0a866, #c97878);
  background-attachment: fixed;
  background-size: cover;
}

body.body-image:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

a {
  color: #fff;
  text-decoration: none;
}

a:hover {
  color: yellow;
  transition: all 1s ease-out;
}

header {
  position: fixed;
  z-index: 2;
  width: 100%;
  height: 10%;
}

.form-card {
  max-width: 400px;
  margin: 0 auto;
  margin-top: 12%;
  padding: 2%;
  background-color: aqua;
  border-radius: 10px;
}

.form-group {
  width: 100%;
}

.form-group i {
  position: absolute;
}

.form-group .form-label {
  margin: 10px;
}

.icon {
  padding: 15px;
  min-width: 2px;
}

.input-field {
  margin-bottom: 10px;
  border-radius: 9px;
  width: 100%;
  border: none;
  padding: 11px 10px 10px 38px;
}

.input-field:focus {
  outline: none;
}

.form-button {
  cursor: pointer;
  margin: 0 auto;
  width: 100%;
  height: 40px;
  text-align: center;
  border: none;
  font-size: 20px;
  background-color: #831a1a;
  border-radius: 5px;
}

.form-button:focus {
  outline: none;
}

.form-button:hover {
  background-color: red;
}

@media screen and (max-width: 1024px) {
  table {
    display: none;
  }

  .contactDetails {
    display: block;
    text-align: center;
    background-color: rgb(235, 11, 11);
    border-radius: 10px;
    padding: 25px;
    margin-bottom: 5px;
    transition: 3s linear;
  }

  .userTable {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 0.5em;
    grid-auto-rows: minmax(100px, auto);
    align-content: center;
  }

  .userTable>div {
    background-color: #ddd;
    padding: 1em;
    border-radius: 10px;
    font-family: 'Libre Baskerville', serif;
    font-size: 20px;
    transition: all 4s ease;
  }

  .userTable>div:nth-child(even) {
    background-color: #fff;
  }

  main {
    align-items: center;
  }

  main div.form-card {
    margin-top: 30%;
    width: 90%;
  }

  main div.form-card .form-group {
    width: 100%;
  }

  table {
    grid-template-areas: '';
  }
}

@media screen and (max-width: 768px) {
  table {
    display: none;
  }

  .contactDetails {
    display: block;
    text-align: center;
    background-color: rgb(235, 11, 11);
    border-radius: 10px;
    /* width: auto; */
    padding: 25px;
    margin-bottom: 5px;
    transition: 3s linear;
  }

  .userTable {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 0.5em;
    grid-auto-rows: minmax(100px, auto);
  }

  #tableContact {
    font-family: 'Libre Baskerville', serif;
    font-size: 15px;
  }

  .userTable>div {
    background-color: #ddd;
    padding: 1em;
    border-radius: 10px;
    font-family: 'Libre Baskerville', serif;
    font-size: 20px;
    transition: 3s linear;
  }

  .userTable>div:nth-child(even) {
    background-color: #fff;
  }

  main {
    align-items: center;
  }

  main div.form-card {
    margin-top: 30%;
    width: 90%;
  }

  main div.form-card .form-group {
    width: 100%;
  }

  table {
    grid-template-areas: '';
  }
}

@media screen and (max-width: 500px) {
  table {
    display: none;
  }

  .contactDetails {
    display: block;
    text-align: center;
    background-color: rgb(235, 11, 11);
    border-radius: 10px;
    width: auto;
    padding: 25px;
    margin-bottom: 5px;
    transition: 3s linear;
  }


  .userTable {
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 0.5em;
    grid-auto-rows: minmax(100px, auto);
  }

  .userTable>div {
    background-color: #ddd;
    padding: 1em;
    border-radius: 10px;
    font-family: 'Libre Baskerville', serif;
    font-size: 20px;
    transition: all 4s ease;
  }

  .userTable>div:nth-child(even) {
    background-color: #fff;
  }


  main {
    align-items: center;
  }

  main div.form-card {
    margin-top: 50%;
    width: 90%;
  }

  main div.form-card .form-group {
    width: 100%;
  }

  ul.menu-nav {
    width: 50%;
  }

  ul.menu-nav a {
    margin-top: 7px;
    text-align: center;
  }

  ul.menu-nav.show {
    transform: translate3d(0, 0, 0);
  }
}

@media screen and (max-width: 360px) {
  table {
    display: none;
  }

  .contactDetails {
    display: block;
    text-align: center;
    background-color: rgb(235, 11, 11);
    border-radius: 10px;
    padding: 25px;
    margin-bottom: 5px;
    transition: all 4s ease;
  }

  .userTable {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 0.5em;
    grid-auto-rows: minmax(100px, auto);
  }

  .userTable>div {
    background-color: #ddd;
    padding: 1em;
    border-radius: 10px;
    font-family: 'Libre Baskerville', serif;
    font-size: 20px;
    transition: all 4s ease;
  }

  .userTable>div:nth-child(even) {
    background-color: #fff;
  }

  main {
    align-items: center;
  }

  main div.form-card {
    margin-top: 50%;
    width: 90%;
  }

  main div.form-card .form-group {
    width: 100%;
  }

  ul.menu-nav {
    width: 50%;
  }

  ul.menu-nav a {
    margin-top: 7px;
    text-align: center;
  }

  ul.menu-nav.show {
    transform: translate3d(0, 0, 0);
  }
}