.modal {
  position: fixed;
  z-index: 3;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  background: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #f4f4f4;
  margin: 10% auto;
  width: 400px;
  animation-name: modalDisplay;
  animation-duration: 2s;
}

.modal-footer h3 {
  margin: 0;
  color: white;
}

.modal-header {
  background: #8a0303;
  padding: 15px;
}

.modal-body {
  padding: 10px 20px;
}

.closeBtn {
  font-size: 25px;
  color: white;
  float: right;
}

.closeBtn:hover,
.closeBtn:focus {
  cursor: pointer;
}

@keyframes modalDisplay {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}