:root {
    --md: rgb(160, 13, 13, 0.9);
    --blood: #831a1a;
    --hover-blood: red;
    --shadow: 17px 18px 33px -3px rgba(0, 0, 0, 1);
}

body {
    margin: 10px;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    background-color: #eee;
}

* {
    box-sizing: border-box;
}

h6 {
    color: white;
}

.register {
    cursor: pointer;
    font-size: 15px;
    padding: 5px;
    color: red;
}

.reserveForm {
    margin: 0 auto;
    display: inline-block;
    background-color: var(--blood);
}

.registerForm {
    margin: 0 auto;
    width: 90%;
    margin-top: 100px;
    margin-bottom: 100px;
    justify-content: center;
    background-color: var(--blood);
    z-index: 10;
    opacity: 1;
    padding: 15px;
    border-radius: 10px;
}

form label {
    color: white;
}

.btn-primary {
    margin-left: 15px;
    border: none;
    color: black;
    font-weight: bold;
    background-color: var(--hover-blood);
}

.btn-primary:hover,
a:hover {
    background-color: var(--md);
}

.form-control {
    border-radius: 10px;
}

input:focus {
    outline: none;
}