<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <link rel="shortcut icon" type="image/png" href="/views/images/ic_launcher.png" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css" />
    <link rel="stylesheet" href="../css/main.css" />
    <link rel="stylesheet" href="../css/menu.css" />
    <title>Admin Page</title>
</head>

<body>
    <header>
        <div class="menu-btn">
            <div class="btn-line"></div>
            <div class="btn-line"></div>
            <div class="btn-line"></div>
        </div>
        <div class="menu-branding">
            <a href="/"><img src="../images/banner.png" alt="Header Image"></a>
        </div>
        <nav class="menu">

            <ul class="menu-nav">
                <li class="nav-item">
                    <a href="reservation.html" class="nav-link">Reservation</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/views/pages/contactdonor.html">Contact</a>
                </li>
                <li class="nav-item current">
                    <a href="requestblood.html" class="nav-link">Request</a>
                </li>
                <li class="nav-item">
                    <a href="mystatus.html" class="nav-link">User Status</a>
                </li>
            </ul>
        </nav>
    </header>
    <section>
        <form action="" style="padding-top: 200px;">
            <input type="text">
            <input type="text">
            <input type="text">
            <input type="text">
            <input type="text">
        </form>
    </section>
    <script src="../../script/main.js"></script>
</body>

</html>